html,
body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    background-image: url(Background01.jpg);
    background-size: cover;
}

.blured {
    background: rgba(255, 255, 255, .7);
    backdrop-filter: blur(15px);
    border-radius: 20px;
    text-align: center;
}

.main {
    display: grid;
    height: 100vh;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 2fr 6fr 6fr 0.5fr;
    grid-template-areas:
        "header header"
        "periods percents"
        "fee reverse"
        "footer footer";
    gap: 2rem;
}

header {
    grid-area: header;
    margin-top: 1rem;
}

.periods {
    grid-area: periods;
    font-size: 20px;
}

#periods-begin {
    margin-bottom: 30px;
}

.periods-checkbox {
    font-size: 16px;
    padding-bottom: 10px;
}

#periods-weekend {
    height: min-content;
    margin-right: -80px;
}

.result {
    padding-top: 30px;
    font-size: 36px;
    font-weight: 600;
}

.percents {
    grid-area: percents;
}

#percents-summ {
    margin: 0px 20px 10px 20px;
}

#percents-tax {
    width: 10%;
    margin: 0px 10px 10px 20px;
}

#percents-period {
    width: 10%;
    margin-left: 20px;
}

#percents-result {
    font-size: 30px;
}

.fee {
    grid-area: fee;
}

.reverseFee {
    grid-area: reverse;
}

input {
    height: 25px;
    border-color: whitesmoke;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    margin: 0px 20px 10px 20px;
}

select {
    height: 20px;
    border-color: whitesmoke;
    border-radius: 10px;
    margin-left: 20px;
}

footer {
    grid-area: footer;
    text-align: center;
    background: rgba(255, 255, 255, .4);
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
    .main{
        display: flex;
        flex-direction: column;
        height: 100vh;
        gap: 1rem;
    }
}